<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Runmachine:</b>
  <%= @task.runmachine %>
</p>

<p>
  <b>Runtime:</b>
  <%= @task.runtime %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
