
<%= form_for(@testobject) do |f| %>
  <% if @testobject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testobject.errors.count, "error") %> prohibited this testobject from being saved:</h2>

      <ul>
      <% @testobject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
    <label class="control-label" for = "testobject_name">Name</label>
    <div class="controls input-append">
    <%= f.text_field :name %>
    <span class="add-on">环境_对象功能_对象属性</span>

    </div>
  </div>
  
  
  <div class="control-group">
     <label class="control-label" for="testobject_locate">Locate</label>
     <div class="controls input-append">
    <%= f.select :locate, TestobjectsHelper::LOCATE,:prompt=>"选择元素所在页面" %>
    <div class="add-on">可以为空</div>
        </div>
  </div>
  
  <div class="control-group">
     <label class="control-label" for="testobject_eltype">Type</label>
     <div class="controls input-append">
    <%= f.select :eltype, TestobjectsHelper::ELEMENTS, :prompt => "选择元素类型" %>
        <div class="add-on">可以为空</div>
    </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="testobject_how">Attribute</label>
     <div class="controls input-append">
    <%= f.select :how, TestobjectsHelper::ATTRS, :prompt => "选择元素属性"%>
        <div class="add-on">可以为空</div>
    </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="testobject_property">Value</label>
     <div class="controls input-append">
    <%= f.text_field :property %>
    <div class="add-on">必填项</div>
    </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="testobject_comment">Description</label>
     <div class="controls input-append">
    <%= f.text_field :comment %>
    <div class="add-on">环境_对象功能_对象属性说明</div>
    </div>
  </div>

  <div class="control-group">
      <div class="controls">
          <div class="span1">
          <input type="submit" class="btn btn-block" value="创建"/> </div>
          <div class="span1"><input type="reset" value="清空" class="btn"> </div>
        <div class="span1"> <%= link_to 'Back', testobjects_path %></div>
    </div>
  </div>
<% end %>

