<h1>
    <div class="container" >
        <div class="span6  kaiti" style="font-size: 26px" >
           全部对象
        </div>
       <div class="span4 offset1 kaiti"  style="font-size: 18px; text-align: right;">
        <%= link_to '添加新对象', new_testobject_path %>
     </div>  
    </div>
</h1>

<table class="table">
  <tr class="kaiti">
      <th>编号</th>
    <th>元素名称</th>
    <th >所在页面</th>
    <th>类型</th>
    <th>属性</th>
    <th>属性值</th>
    <th>描述</th>
    <th>操作</th>
  </tr>
<% @testobjects.each_with_index do |testobject,id| %>
  <tr>
    <td>
<% if params[:page] == nil %>
	<%= id+1 %>
	<% else %>
	<%= (params[:page].to_i-1)*10+id+1 %>
    	<% end %>
    </td>
    <td><%= best_in_place testobject, :name %></td>
    <td><%= best_in_place testobject, :locate %></td>
    <td><%= best_in_place testobject, :eltype %></td>
    <td><%= best_in_place testobject,:how %></td>
    <td><%= best_in_place testobject,:property %></td>
    <td style="font-family: KaiTi"><%= best_in_place testobject,:comment %></td>
    <td class="kaiti"><%= link_to '删除', testobject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
  <div class="span4 offset8"><%= paginate @testobjects %></div>
<br />


