
<br/>
    <div class="span4 offset8" style="font-family: Times New Roman; font-size: 15px; text-align: right;"><%= link_to 'ADD NEW OBJECT', new_testobject_path %></div>
    <br/>
    <br/>
<table class="table table-bordered">
  <thead>
  <tr>
      <th>ID</th>
    <th>NAME</th>
    <th >LOCATE</th>
    <th>TYPE</th>
    <th>ATTRIBUTE</th>
    <th>VALUE</th>
    <th>DESCRIPTION</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @testobjects.each_with_index do |testobject,id| %>
  <tr>
    <td>
<% if params[:page] == nil %>
	<%= id+1 %>
	<% else %>
	<%= (params[:page].to_i-1)*10+id+1 %>
    	<% end %>
    </td>
    <td><%= best_in_place testobject, :name %></td>
    <td><%= best_in_place testobject, :locate %></td>
    <td><%= best_in_place testobject, :eltype %></td>
    <td><%= best_in_place testobject,:how %></td>
    <td><%= best_in_place testobject,:property %></td>
    <td style="font-family: KaiTi"><%= best_in_place testobject,:comment %></td>
    <td><%= link_to 'Delete', testobject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
  <div class="span4 offset8"><%= paginate @testobjects %></div>
<br />


