<h1>
    <div class="container" >
        <div class="span6  kaiti" style="font-size: 26px" >
           全部测试用例
        </div>
       <div class="span4 offset1 kaiti"  style="font-size: 18px; text-align: right;">
        <%= link_to '创建新用例', new_testcase_path %>
     </div>  
    </div>
</h1>

<table class="table">
  <tr class="kaiti">
    <th class=" text-center">用例名称</th>
    <th class=" text-center">用例描述</th>
    <th class=" text-center">使用浏览器</th>
    <th class=" text-center">是否运行</th>
    <th class=" text-center">是否截图</th>
    <th colspan="2" class=" text-center">可执行动作</th>
    <th class=" text-center">所属项目</th>
  </tr>
        <% @re = sl_task %>
<% @testcases.each_with_index do |testcase,id| %>
  <tr>
        <td class=" text-center"><%= best_in_place testcase, :name%></td>
        <td class="kaiti text-center"><%= best_in_place testcase, :description%></td>
        <td class=" text-center"><%= best_in_place testcase, :browser, type: :select, collection:[["ff","Firefox"],["chrome","Chrome"],["ie","Internet Explorer"]] %></td>
        <td class="kaiti text-center" ><%= best_in_place testcase, :runFlag, type: :select, collection: [["Y","运行"],["N","不运行"]]%></td>
        <td class="kaiti text-center"><%= best_in_place testcase, :capture, type: :select, collection: [["Y","截图"],["N", "不截图"]]%></td>
        <td class="kaiti text-center"><%= link_to '删除', testcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td  class="kaiti"><a href = "/tcsp/<%= testcase.id%>">查看用例步骤</td>
        <% @runlist = get_rl(testcase.id).first%>
        <td class="kaiti"><%= best_in_place @runlist, :taskid, :type=>:select, :collection => @re %></td>

  </tr>
<% end %>
</table>

<br />
