<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @testcase.name %>
</p>

<p>
  <b>Description:</b>
  <%= @testcase.description %>
</p>

<p>
  <b>Browser:</b>
  <%= @testcase.browser %>
</p>

<p>
  <b>Runflag:</b>
  <%= @testcase.runFlag %>
</p>

<p>
  <b>Capture:</b>
  <%= @testcase.capture %>
</p>


<%= link_to 'Edit', edit_testcase_path(@testcase) %> |
<%= link_to 'Back', testcases_path %>
