</br>

<div class="container">
<div class = "span4">
<h2><%= @tc.name%></h2>
</div>
<div class= "span4 offset8" style="text-align: right; font-family: Times New Roman; font-size: 15px;">
    <a href = "/tasks">Back</a>
</div>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>TypeMethod</th>
        <th>Element</th>
        <th>CallMethod</th>
        <th>InputValue</th>
        <th>ExpectValue</th>
        <th>RunFlag</th>
    </tr>
    <% if @steps != nil%>
        <%@steps.each do |sp|%>
                <tr>
                    <td><%= best_in_place sp, :step%></td>
                    <td><%= best_in_place sp, :stepDesc%></td>
                    <td><%= best_in_place sp, :stepMethod, type: :select, collection:[["ACTION","action"],["VERIFICATION","verification"],["CUSACTION","custom-action"],["CUSVERIFY","custom-verification"]]%></td>
                    <td><%= best_in_place sp, :objName%></td>
                    <td><%= best_in_place sp, :callMethod%></td>
                    <td><%= best_in_place sp, :inputValue%></td>
                    <td><%= best_in_place sp, :expectValue%></td>
                    <td><%= best_in_place sp, :runFlag, type: :select, collection: [["Y","run"],["N","not run"]]%></td>
                </tr>
        <%end%>
    <%end%>
    
</table>
